<div class="container">
    <div class="float-left">
        <h5>Name: {{invoice_item.name}}</h5>
        <h5>Address: {{invoice_item.address}}</h5>
        <h5>Phone: {{invoice_item.phone}}</h5>
    </div>
    <div class="float-right">
        <h4>Invoice: {{invoice_item.invoice}}</h4>
        <h4>Date: {{invoice_item.date}}</h4>
    </div>
</div>
<br>

{{!-- <h3>Invoice number: {{invoice_item.invoice}}</h3>
<h3>Date : {{invoice_item.date}}</h3> --}}
<table class="table">
        <tr>    
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>SubTotal</th>
        </tr>

{{#each invoice_item.items}}
    <tbody>
        <tr>
            <td>{{product_name}}</td>
            <td>{{quantity}}</td>
            <td>${{price}}</td>
            <td>${{subtotal}}</td>
        </tr>
    </tbody>
{{else}}
<p>No data listed</p>
{{/each}}
</table>
<div class="text-right">
    <p>Total: ${{invoice_item.total}}</p>
</div>